fieldset {
    border: 3px solid #eee;
    background-color: whitesmoke;
    box-shadow: 1px 2px 2px black;
    font-size: 30px;
    font-family: cursive;
    color: blue;
    border-radius: 10%;
    margin: auto;
    margin-top: 7%;
    width: 550px;
    height: 400px;
}

input {

    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    background-color: blue;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-style: unset;
    color: white;
    margin: 5% 10%;
    width: 450px;
    height: 35px;
}

p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color-scheme: inherit;
    font-size: 24px;
    margin-top: 7%;
}

div#comparacao {
    border: 1px groove rgb(247, 244, 244);
    border-style: inset;
    box-shadow: 1px 0.9px 0.7px rgb(29, 28, 28);
    padding-top: 3%;
    margin-left: 10%;
    width: 450px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    color: rgb(1, 19, 19);

}

footer {
    position: relative;
    margin-top: 4%;
    margin-left: 40%;
    font-style: italic;
    color: gray;
}